<div class="container" >
	<div class="row">
		<div class="col-sm-12 text-center" ng-controller="itemizeCtrl">
			<div class="btn-group-vertical">
			  
				<a ng-if="currentTier<3" href="#!itemize/{{i.id}}" ng-repeat="i in data"class="btn-lg btn btn-primary">{{i.name}}</a>
			  
			</div>
			<div class="checkbox" ng-if="currentTier==3" ng-repeat="i in data">
			
				<label   for="c{{i.name}}">
					<input type="checkbox" name="c{{i.name}}" ng-model="i.selected" value="{{i.id}}">{{i.name}}
				</label>
			</div>
		
			<button ng-if="currentTier==3 && !pricesLoaded" ng-click="add_price()" class="btn-lg btn btn-primary">Add Prices</button>
				
				<div  ng-if="pricesLoaded">

					<label class="radio-inline">
						<input type="radio" name="price" ng-model="price" ng-value="prices[0]">{{prices[0]}}
					</label>
					<label class="radio-inline">
						<input type="radio" name="price" ng-model="price" ng-value="prices[1]">{{prices[1]}}
					</label>
					<label class="radio-inline">
						<input type="radio" name="price" ng-model="price" ng-value="prices[2]">{{prices[2]}}
					</label>
					<label class="radio-inline">
						<input type="radio" name="price" ng-model="price" ng-value="prices[3]"><input type="text" ng-model="prices[3]" value="{{3}}">
					</label>
				</div>
				
				<button ng-if="pricesLoaded" ng-click="" class="btn-lg btn btn-primary">Save</button>
				
				
		</div>  
	</div>
	
</div>