<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Testing</title>
    <style type="text/css">
    	a {
    		display: block;
    	}
    </style>
  </head>
  <body>
  	<div class="container">
			<div class="form-group">
				<label for="form_id">ID:</label>
				<input type="text" class="form-control" id="form_id" placeholder="Enter id">
			</div>
			<div class="form-group">
				<label for="year">Year:</label>
				<input type="text" class="form-control" id="year" placeholder="Enter year">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>

		<div class="content" id="content">

		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
    $(function() {
      var data1 = {}
      $('button').click(function() {
          var form_id = $('#form_id').val();
          var year = $('#year').val();
          $.ajax({
              url: 'https://0.tcp.ngrok.io:10955/api/v1/taxletter/'+form_id+'/' + year,
              data: $('form').serialize(),
              type: 'GET',
              success: function(response) {
                  console.log(response);
                  data1 = response;
                      var a = document.createElement('a');
                      var linkText = document.createTextNode(data1.name + "-" + data1.year);
                      a.appendChild(linkText);
                      a.href = data1.url;
                      document.getElementById('content').appendChild(a);

              },
              error: function(xhr, status, error) {
                  alert(xhr.responseText);
              }
          });
      });

      // data = [
      //     {
      //         'name': "testi",
      //         'year': 32,
      //         'url': "lkjf.com"
      //     },
      //      {
      //         'name': "test2",
      //         'year': 32,
      //         'url': "lkjf.com"
      //     }
      // ]



    });
    </script>
  </body>
</html>
